@IMPORT url("#{resource['css:content.css']}");
@IMPORT url("#{resource['css:header.css']}");
@IMPORT url("#{resource['css:footer.css']}");
@IMPORT url("#{resource['css:grid.css']}");
@IMPORT url("#{resource['css:navBar.css']}");



* {
	box-sizing: border-box;
}

html {
	margin: 0px;
}

body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 0.99);
	background: #d31313;
}

.content .container {
	height: 100%;
}


